In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
dataset = pd.read_csv('C:/Users/Christopher Ogbeide/Desktop/data/Market_Basket_Optimisation.csv', header = None)
dataset.head()
dataset.fillna(0, inplace=True)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [2]:
# create all items to array
list_all_item = []
for i in range(0, 7501):
    list_all_item.append([str(dataset.values[i,j]) for j in range(0, 20)])

In [3]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te.fit(list_all_item)
data = te.transform(list_all_item)
data = pd.DataFrame(data, columns = te.columns_)
data

,asparagus,0,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,True,True,False,True,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [4]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(data, min_support = 0.01, use_colnames = True)
frequent_itemsets

      support                                    itemsets
0    0.999867                                         (0)
1    0.020397                                   (almonds)
2    0.033329                                   (avocado)
3    0.010799                            (barbecue sauce)
4    0.014265                                 (black tea)
..        ...                                         ...
510  0.011065       (ground beef, 0, mineral water, milk)
511  0.017064  (ground beef, 0, spaghetti, mineral water)
512  0.015731         (0, spaghetti, mineral water, milk)
513  0.010265    (olive oil, 0, mineral water, spaghetti)
514  0.011465     (0, mineral water, spaghetti, pancakes)

[515 rows x 2 columns]

In [5]:
from mlxtend.frequent_patterns import association_rules
rules = association_rules(frequent_itemsets, metric="lift")
rules.sort_values('confidence', ascending = False, inplace = True)

In [6]:
index_to_drop_cons = rules[rules['consequents'] == frozenset({'nan'})].index
rules.drop(index_to_drop_cons, inplace=True)

In [7]:
index_to_drop_ante = rules[rules['antecedents'] == frozenset({'nan'})].index
rules.drop(index_to_drop_ante, inplace=True)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
493,"(eggs, burgers)",(0),0.028796,0.999867,0.028796,1.000000,1.000133,0.000004,inf
942,"(frozen smoothie, french fries)",(0),0.014531,0.999867,0.014531,1.000000,1.000133,0.000002,inf
608,"(cereals, mineral water)",(0),0.010265,0.999867,0.010265,1.000000,1.000133,0.000001,inf
1387,"(olive oil, spaghetti)",(0),0.022930,0.999867,0.022930,1.000000,1.000133,0.000003,inf
1668,"(eggs, mineral water, spaghetti)",(0),0.014265,0.999867,0.014265,1.000000,1.000133,0.000002,inf
...,...,...,...,...,...,...,...,...,...
609,(0),"(cereals, mineral water)",0.999867,0.010265,0.010265,0.010267,1.000133,0.000001,1.000001
762,(0),"(chocolate, soup)",0.999867,0.010132,0.010132,0.010133,1.000133,0.000001,1.000001
1066,(0),"(low fat yogurt, frozen vegetables)",0.999867,0.010132,0.010132,0.010133,1.000133,0.000001,1.000001
1650,(0),"(eggs, ground beef, mineral water)",0.999867,0.010132,0.010132,0.010133,1.000133,0.000001,1.000001
1691,(0),"(french fries, mineral water, spaghetti)",0.999867,0.010132,0.010132,0.010133,1.000133,0.000001,1.000001

In [8]:
new_cons = []
for item in rules['consequents']:
    a = list(item)
    new_cons.append(', '.join(a))
    
new_ante = []
for item in rules['antecedents']:
    a = list(item)
    new_ante.append(', '.join(a))
    
# apply in list to consequent and anatecedent
rules ['antecedents'] = new_ante
rules ['consequents'] = new_cons

# drop missing values of consequent and anatecedent
index_to_drop_cons = rules[rules['consequents'].str.contains('nan')].index
rules.drop(index_to_drop_cons, inplace = True)

index_to_drop_ante = rules[rules['antecedents'].str.contains('nan')].index
rules.drop(index_to_drop_ante, inplace = True)

rules.reset_index(drop = True, inplace= True)

In [11]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"eggs, burgers",0,0.028796,0.999867,0.028796,1.000000,1.000133,0.000004,inf
1,"frozen smoothie, french fries",0,0.014531,0.999867,0.014531,1.000000,1.000133,0.000002,inf
2,"cereals, mineral water",0,0.010265,0.999867,0.010265,1.000000,1.000133,0.000001,inf
3,"olive oil, spaghetti",0,0.022930,0.999867,0.022930,1.000000,1.000133,0.000003,inf
4,"eggs, mineral water, spaghetti",0,0.014265,0.999867,0.014265,1.000000,1.000133,0.000002,inf
...,...,...,...,...,...,...,...,...,...
1787,0,"cereals, mineral water",0.999867,0.010265,0.010265,0.010267,1.000133,0.000001,1.000001
1788,0,"chocolate, soup",0.999867,0.010132,0.010132,0.010133,1.000133,0.000001,1.000001
1789,0,"low fat yogurt, frozen vegetables",0.999867,0.010132,0.010132,0.010133,1.000133,0.000001,1.000001
1790,0,"eggs, ground beef, mineral water",0.999867,0.010132,0.010132,0.010133,1.000133,0.000001,1.000001
1791,0,"french fries, mineral water, spaghetti",0.999867,0.010132,0.010132,0.010133,1.000133,0.000001,1.000001